<div class="jumbotron" *ngIf="document$ | async as document; else elseBlock">
  <h4>
    {{ document.websiteName }} :
    <a href="{{ document.url }}">{{ document.title }} </a>
  </h4>

  <p class="small font-italic">{{ document.date }}</p>
  <div>
    <samp class="text-justify">{{ document.summary }}</samp>
  </div>
  <hr class="my-4" />
  <div>
    <p><b>Acceptance state:</b></p>
    <p-selectButton
      styleClass="mb-4"
      [options]="stateValues"
      [(ngModel)]="document.acceptanceStateValue"
      (onChange)="onStateChange($event)"
    >
    </p-selectButton>
  </div>
  <div>
    <p><b>Classification:</b></p>
    <p-selectButton
      styleClass="mb-4"
      [options]="cities"
      [(ngModel)]="selectedCity"
    ></p-selectButton>
  </div>
  <div *ngIf="comments.length">
    <p><b>Comments:</b></p>
    <div class="card" *ngFor="let comment of comments">
      <div class="card-header">
        {{ comment.username }} ({{ comment.createdAt }})
      </div>
      <div class="card-body">
        <p class="card-text">{{ comment.value }}</p>
        <div class="delete-comment my-2">
          <button class="btn btn-secondary" (click)="onDeleteComment(comment)">
            <fa-icon [icon]="deleteIcon"></fa-icon> Delete
          </button>
        </div>
      </div>
    </div>
  </div>
  <div>
    <form (ngSubmit)="onAddComment()" #addCommentForm="ngForm">
      <div class="form-group">
        <label for="comment"><b>New comment:</b></label>
        <textarea
          type="text"
          class="form-control"
          id="comment"
          [(ngModel)]="newComment.value"
          name="comment"
        ></textarea>
      </div>
      <button type="submit" class="btn btn-success">Add</button>
    </form>
  </div>
  <ng-template #elseBlock>
    <p>Select a document above.</p>
  </ng-template>
</div>
