<h2>{{ document.title }}</h2>
<h6>Date of document</h6>
<p>{{ document.date }}</p>
<h6>Type</h6>
<p>{{ document.type }}</p>
<h6>Title prefix</h6>
<p>{{ document.titlePrefix }}</p>
<h6>Acceptance state</h6>
<p-selectButton [options]="allStates" [(ngModel)]="document.acceptanceState" (onChange)="onStateChange($event)">
</p-selectButton>
<p>From: <a href="{{ document.url }}">{{ document.url }}</a></p>
<h6>Summary</h6>
<div>
  <p>{{ document.summary }}</p>
</div>
<h6>Files</h6>
<ul class="list-group my-2">
  <li class="list-group-item" *ngFor="let attachment of attachments">
    <a href="{{ attachment.file }}">{{ attachment.file }}</a>
  </li>
</ul>
<h6>Content</h6>
<ul class="list-group my-2">
  <li class="list-group-item" *ngFor="let attachment of attachments">
    <p-scrollPanel [style]="{width: '100%', height: '200px'}">
      {{ attachment.content }}
    </p-scrollPanel>
  </li>
</ul>
<h6>Add file</h6>
<div class="add-attachment">
  <p-fileUpload name="file" customUpload="true" accept=".pdf" [auto]="true" (uploadHandler)="onAddFile($event)">
  </p-fileUpload>
</div>
<div class="delete-document my-2">
  <button class="btn btn-danger" (click)="onDelete()">
    <fa-icon [icon]="deleteIcon"></fa-icon> Delete
  </button>
  <p-confirmDialog header="Confirmation" icon="pi pi-exclamation-triangle">
  </p-confirmDialog>
</div>
