<!-- <h3>Documents</h3> -->

<div class="jumbotron p-1 m-2">
  <div class="form-group">
    <div class="row">
      <div class="col">
        <div class="d-flex justify-content-between p-0">
          <div class="input-group input-group-sm m-1">
            <div class="input-group-prepend">
              <span class="input-group-text" id="inputGroup-sizing-sm"
                >Search for..</span
              >
            </div>
            <input
              id="content"
              type="search"
              name="content"
              class="form-control form-control-sm"
              [(ngModel)]="documentService.searchTerm"
            />
          </div>
          <select
            class="form-control form-control-sm m-1 col-2"
            [(ngModel)]="documentService.filterType"
            (change)="filterResetPage()"
          >
            <option *ngFor="let f of filters" [ngValue]="f.id">{{
              f.name
            }}</option>
          </select>
          <select
            class="form-control form-control-sm m-1 col-2"
            [(ngModel)]="documentService.website"
            (change)="filterResetPage()"
          >
            <option *ngFor="let f of websites" [ngValue]="f.id">{{
              f.name
            }}</option>
          </select>
          <div class="form-check m-1 pl-0 pt-1">
            <span ngbTooltip="Show your own validations">
              <p-inputSwitch
                (onChange)="filterResetPage()"
                [(ngModel)]="documentService.showOnlyOwn"
                >Own</p-inputSwitch
              ></span
            >
          </div>
          <div class="form-check m-1 pl-0 pt-1">
            <span ngbTooltip="Show your bookmarked documents">
              <p-inputSwitch
                (onChange)="filterResetPage()"
                [(ngModel)]="documentService.bookmarks"
                >Bookmarks</p-inputSwitch
              ></span
            >
          </div>
        </div>
        <div class="row">
          <div class="col">
            <div class="d-flex progress justify-content-end p-0 my-2">
              Documents found: <u>{{ documentService.total$ | async }}</u>
              <span class="" *ngIf="filterActive">
                <fa-icon (click)="resetFilters()" class="p-2" ngbTooltip="Reset filters" [icon]="resetIcon"></fa-icon>
              </span>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <hr class="my-2" />
            <div class="d-flex progress justify-content-between p-0 my-2">
              <div>
                Auto-validated documents: <u>{{ stats.autoClassifiedSize }} / {{stats.totalDocuments}}</u
                ><!-- Unvalidated :
                <u>{{ stats.unvalidatedSize }}</u>-->
                ( Auto-accepted :
                <u>{{ stats.autoAcceptedSize }}</u>, Auto-rejected :
                <u>{{ stats.autoRejectedSize }}</u> )
              </div>
            </div>
            <ngb-progressbar
              [showValue]="true"
              type="success"
              [value]="stats.autoClassifiedPercent"
              (click)="updateChart1($event)"
              (click)="op1.toggle($event)"
            ></ngb-progressbar>
            <hr class="my-2" />
            <div class="d-flex progress justify-content-between p-0 my-2">
              <div>
                Human validated documents: <u>{{ stats.classifiedSize }} / {{stats.totalDocuments}}</u
                ><!-- Unvalidated :
                <u>{{ stats.unvalidatedSize }}</u>-->
                ( Accepted :
                <u>{{ stats.acceptedSize }}</u>, Rejected :
                <u>{{ stats.rejectedSize }}</u> )
              </div>
            </div>
            <ngb-progressbar
              [showValue]="true"
              type="success"
              [value]="stats.classifiedPercent"
              (click)="updateChart2($event)"
              (click)="op2.toggle($event)"
            ></ngb-progressbar>
          </div>
        </div>
      </div>
    </div>

    <p-overlayPanel #op1>
      <ng-template pTemplate>
        <p-chart
          width="350"
          height="350"
          type="doughnut"
          [data]="data1"
          [options]="options1"
        ></p-chart>
      </ng-template>
    </p-overlayPanel>

    <p-overlayPanel #op2>
      <ng-template pTemplate>
        <p-chart
          width="350"
          height="350"
          type="doughnut"
          [data]="data2"
          [options]="options2"
        ></p-chart>
      </ng-template>
    </p-overlayPanel>

    <hr class="my-2" />
    <table class="table table-striped table-bordered table-hover">
      <thead class="thead-dark">
        <tr>
          <th scope="col">
            <span ngbTooltip="Bookmark">
              <fa-icon [icon]="bookmarkIcon"></fa-icon>
            </span>
          </th>
          <th scope="col" sortable="title" (sort)="onSort($event)">
            <fa-icon [icon]="titleSortIcon"></fa-icon> Title
          </th>
          <th scope="col" sortable="date" (sort)="onSort($event)">
            <fa-icon [icon]="dateSortIcon"></fa-icon> Date
          </th>
          <th scope="col">Tags</th>
          <th scope="col" sortable="states" (sort)="onSort($event)">
            <fa-icon [icon]="statesSortIcon"></fa-icon> States
          </th>
        </tr>
      </thead>
      <tbody>
        <tr *ngIf="documentResults$ && (documentService.total$ | async) == 0">
          <td colspan="5">No results.</td>
        </tr>
        <tr *ngFor="let document of (documentResults$ | async)?.results; let i = index">
          <td>
            <span ngbTooltip="Remove bookmark">
              <div *ngIf="document.bookmark">
                <a (click)="onRemoveBookmark(document)"><fa-icon [icon]="bookmarkIcon"></fa-icon></a>
              </div>
            </span>

            <span ngbTooltip="Bookmark">
              <div *ngIf="!document.bookmark">
                <a (click)="onAddBookmark(document)"><fa-icon [icon]="bookmarkIcon" style="color: rgb(179, 179, 179) !important;"></fa-icon></a>
              </div>
            </span>
          </td>
          <td>
            <a
              (click)="setIndex(document.id)"
              [class.font-weight-bold]="selectedIndex === document.id"
              [routerLink]="[document.id]"
              >{{ document.title || "(no title)" | truncate: [120, "..."] }}</a
            >&nbsp;
            <span
              *ngIf="document.comments.length > 0"
              class="badge badge-secondary"
              >{{ document.comments.length }}</span
            >
          </td>
          <td>
            <div>
              {{ document.date | date }}
            </div>
          </td>
          <td>
            <p-chips
              [(ngModel)]="document.tags"
              allowDuplicate="false"
              field="value"
              (onAdd)="onAddTag($event, document.tags, document.id)"
              (onRemove)="onRemoveTag($event)"
              (onChipClick)="onClickTag($event)"
            ></p-chips>
          </td>
          <td>
            <p-chips
              [(ngModel)]="document.acceptance_states"
              disabled="true"
              styleClass="p-chips-state"
            >
              <ng-template let-state pTemplate="state">
                <div
                  [className]="state.value | lowercase"
                  *ngIf="state.user"
                  pTooltip="created: {{
                    state.created_at | date: 'MMM d, y - h:mm a'
                  }}&#013;last updated: {{
                    state.updated_at | date: 'MMM d, y - h:mm a'
                  }}"
                  tooltipPosition="top"
                >
                  {{ state.user.username }}
                  <fa-icon [icon]="userIcon"></fa-icon>
                </div>
                <div
                  [className]="state.value | lowercase"
                  *ngIf="state.probability_model"
                  pTooltip="confidence: {{
                    state.accepted_probability | percent: '1.0-2'
                  }}, created: {{
                    state.created_at | date: 'MMM d, y - h:mm a'
                  }}, last updated: {{
                    state.updated_at | date: 'MMM d, y - h:mm a'
                  }}"
                  tooltipPosition="top"
                >
                  {{ state.probability_model }}
                  <fa-icon [icon]="chipIcon"></fa-icon>
                </div>
              </ng-template>
            </p-chips>
          </td>
        </tr>
      </tbody>
    </table>
    <div class="d-flex justify-content-start p-0">
      <ngb-pagination
        [collectionSize]="documentService.total$ | async"
        [(page)]="documentService.page"
        [pageSize]="pageSize"
        [maxSize]="10"
        [ellipses]="true"
        [rotate]="true"
        (pageChange)="onPageChange()"
      >
      </ngb-pagination>
      <div class="ml-3 p-1">
        <input class="input-sm" type="number" [min]="1" [max]="documentService.total$ | async"
          [(ngModel)]="documentService.page">
      </div>
      <div class="ml-3 p-0" *ngIf="documentService.loading$ | async">
        <span>Loading <div class="spinner-border ml-auto" role="status" aria-hidden="true"></div></span>
      </div>
    </div>
    <hr class="my-2" />
  </div>
  <router-outlet></router-outlet>
</div>
