<!-- <h3>Documents</h3> -->

<div class="jumbotron p-1 m-2">
  <div class="form-group">
    <div class="row">
      <div class="col">
        <div class="d-flex justify-content-between p-0">
          <div class="input-group input-group-sm m-1">
            <div class="input-group-prepend">
              <span class="input-group-text" id="inputGroup-sizing-sm"
                >Search for..</span
              >
            </div>
            <input
              id="content"
              type="search"
              name="content"
              class="form-control form-control-sm"
              [(ngModel)]="keyword"
              (ngModelChange)="onSearch($event)"
            />
          </div>
          <select
            class="form-control form-control-sm m-1 col-2"
            [(ngModel)]="filterType"
            (change)="filterResetPage()"
          >
            <option *ngFor="let f of filters" [ngValue]="f.id">{{
              f.name
            }}</option>
          </select>
          <select
            class="form-control form-control-sm m-1 col-2"
            [(ngModel)]="websiteFilter"
            (change)="filterResetPage()"
          >
            <option *ngFor="let f of websites" [ngValue]="f.id">{{
              f.name
            }}</option>
          </select>
          <div class="form-check m-1 pl-0 pt-1">
            <span ngbTooltip="Show your own validations">
              <p-inputSwitch
                (onChange)="filterResetPage()"
                [(ngModel)]="showOnlyOwn"
                >Own</p-inputSwitch
              ></span
            >
          </div>
        </div>
        <div class="row">
          <div class="col">
            <hr class="my-2" />
            <div class="d-flex progress justify-content-between p-0">
              <div>
                Total: <u>{{ stats.total }}</u> Unvalidated :
                <u>{{ stats.unvalidatedSize }}</u> Auto-rejected :
                <u>{{ stats.autoRejectedSize }}</u> Auto-validated :
                <u>{{ stats.autoValidatedSize }} </u>
              </div>
              <div>
                Documents found: <u>{{ collectionSize }}</u>
                <span class="" *ngIf="filterActive">
                  <fa-icon
                    (click)="resetFilters()"
                    class="p-2"
                    ngbTooltip="Reset filters"
                    [icon]="resetIcon"
                  ></fa-icon>
                </span>
              </div>
            </div>
            <hr class="my-2" />
            <ngb-progressbar
              [showValue]="true"
              type="success"
              [value]="stats.validatedPercent"
              (click)="updateChart($event)"
              (click)="op.toggle($event)"
            ></ngb-progressbar>
          </div>
        </div>
      </div>
    </div>

    <p-overlayPanel #op>
      <ng-template pTemplate>
        <p-chart
          width="350"
          height="350"
          type="doughnut"
          [data]="data"
        ></p-chart>
      </ng-template>
    </p-overlayPanel>

    <hr class="my-2" />
    <table class="table table-striped table-bordered table-hover">
      <thead class="thead-dark">
        <tr>
          <th scope="col" sortable="title" (sort)="onSort($event)"><fa-icon [icon]="sortIcon"></fa-icon> Title</th>
          <th scope="col" sortable="date" (sort)="onSort($event)"><fa-icon [icon]="sortIcon"></fa-icon> Date</th>
          <th scope="col">Tags</th>
          <th scope="col">States</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngIf="documents$ && documents$.length == 0">
          <td colspan="5">No results.</td>
        </tr>
        <tr *ngFor="let document of documents$; let i = index">
          <td>
            <a
              (click)="setIndex(document.id)"
              [class.font-weight-bold]="selectedIndex === document.id"
              [routerLink]="[
                { outlets: { secondary: ['document', document.id] } }
              ]"
              >{{ document.title || "(no title)" | truncate: [120, "..."] }}</a
            >&nbsp;
            <span
              *ngIf="document.comments.length > 0"
              class="badge badge-secondary"
              >{{ document.comments.length }}</span
            >
          </td>
          <td>
            <div>
              {{ document.date | date }}
            </div>
          </td>
          <td>
            <p-chips
              [(ngModel)]="document.tags"
              allowDuplicate="false"
              field="value"
              (onAdd)="onAddTag($event, document.tags, document.id)"
              (onRemove)="onRemoveTag($event)"
              (onChipClick)="onClickTag($event)"
            ></p-chips>
          </td>
          <td>
            <p-chips
              [(ngModel)]="document.acceptance_states"
              disabled="true"
              styleClass="p-chips-state"
            >
              <ng-template let-state pTemplate="state">
                <div
                  [className]="state.value | lowercase"
                  *ngIf="state.user"
                  pTooltip="created: {{
                    state.created_at | date: 'MMM d, y - h:mm a'
                  }}&#013;last updated: {{
                    state.updated_at | date: 'MMM d, y - h:mm a'
                  }}"
                  tooltipPosition="top"
                >
                  {{ state.user.username }}
                  <fa-icon [icon]="userIcon"></fa-icon>
                </div>
                <div
                  [className]="state.value | lowercase"
                  *ngIf="state.probability_model"
                  pTooltip="confidence: {{
                    state.accepted_probability | percent: '1.0-2'
                  }}, created: {{
                    state.created_at | date: 'MMM d, y - h:mm a'
                  }}, last updated: {{
                    state.updated_at | date: 'MMM d, y - h:mm a'
                  }}"
                  tooltipPosition="top"
                >
                  {{ state.probability_model }}
                  <fa-icon [icon]="chipIcon"></fa-icon>
                </div>
              </ng-template>
            </p-chips>
          </td>
        </tr>
      </tbody>
    </table>
    <div class="d-flex justify-content-between p-0">
      <ngb-pagination
        (pageChange)="loadPage($event)"
        [collectionSize]="collectionSize"
        [(page)]="page"
        [pageSize]="pageSize"
        [maxSize]="10"
        [ellipses]="true"
      >
      </ngb-pagination>
    </div>
    <hr class="my-2" />
  </div>
</div>
