<div class="jumbotron p-1 m-2">
  <div class="form-group">
    <div class="row">
      <div class="col">
        <div>
          <p>Query for Reporting Obligations</p>

          <ul>
<!--            [showClear]="true"-->
            <p-dropdown *ngFor="let filter of availableItems" [options]="filter.options" class="a-dropdown"
                        optionLabel="name" optionValue="code" [ngModel]="availableItemsQuery.get(item)"
                        (ngModelChange)="onQuery(filter, $event)" [virtualScroll]="true" [filter]="true">

            </p-dropdown>
          </ul>
          <fa-icon (click)="resetFilters()" class="p-2" ngbTooltip="Reset filters" [icon]="resetIcon"></fa-icon>

        </div>


        <div class="row">
          <div class="col">
            <hr class="my-2" />
            <div class="d-flex progress justify-content-between p-0">
              <div>
                <!-- Total: <u>{{ stats.total }}</u>
                Auto-rejected :
                <u>{{ stats.autoRejectedSize }}</u> Auto-validated :
                <u>{{ stats.autoAcceptedSize }} </u> -->
              </div>
              <div>
                Reporting Obligations found: <u>{{ collectionSize }}</u>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>



    <hr class="my-2" />
    <table class="table table-striped table-bordered table-hover">
      <thead class="thead-dark">
        <tr>
          <th scope="col" sortable="name" (sort)="onSort($event)">
            <fa-icon [icon]="nameSortIcon"></fa-icon> Label
          </th>
          <th scope="col">Tags</th>
          <th scope="col" sortable="states" (sort)="onSort($event)">
            <fa-icon [icon]="statesSortIcon"></fa-icon> States
          </th>
        </tr>
      </thead>
      <tbody>
        <tr *ngIf="ros && ros.length == 0">
          <td colspan="5">No results.</td>
        </tr>
        <tr *ngFor="let ro of ros; let i = index">
          <td>
            <a
              (click)="setIndex(ro.id)"
              [class.font-weight-bold]="selectedIndex === ro.id"
              [routerLink]="[ro.id]"
              >{{ ro.definition || "(no label)" }}</a
            >&nbsp;
            <!-- <span
              *ngIf="ro.comments.length > 0"
              class="badge badge-secondary"
              >{{ ro.comments.length }}</span
            > -->
          </td>
          <!-- <td>
            <p-chips
              [(ngModel)]="ro.tags"
              allowDuplicate="false"
              field="value"
              (onAdd)="onAddTag($event, ro.tags, ro.id)"
              (onRemove)="onRemoveTag($event)"
              (onChipClick)="onClickTag($event)"
            ></p-chips>
          </td> -->
          <!-- <td>
            <p-chips
              [(ngModel)]="ro.acceptance_states"
              disabled="true"
              styleClass="p-chips-state"
            >
              <ng-template let-state pTemplate="state">
                <div
                  [className]="state.value | lowercase"
                  *ngIf="state.user"
                  pTooltip="created: {{
                    state.created_at | date: 'MMM d, y - h:mm a'
                  }}&#013;last updated: {{
                    state.updated_at | date: 'MMM d, y - h:mm a'
                  }}"
                  tooltipPosition="top"
                >
                  {{ state.user.username }}
                  <fa-icon [icon]="userIcon"></fa-icon>
                </div>
                <div
                  [className]="state.value | lowercase"
                  *ngIf="state.probability_model"
                  pTooltip="confidence: {{
                    state.accepted_probability | percent: '1.0-2'
                  }}, created: {{
                    state.created_at | date: 'MMM d, y - h:mm a'
                  }}, last updated: {{
                    state.updated_at | date: 'MMM d, y - h:mm a'
                  }}"
                  tooltipPosition="top"
                >
                  {{ state.probability_model }}
                  <fa-icon [icon]="chipIcon"></fa-icon>
                </div>
              </ng-template>
            </p-chips>
          </td> -->
        </tr>
      </tbody>
    </table>
    <div class="d-flex justify-content-between p-0">
      <ngb-pagination
        (pageChange)="loadPage($event)"
        [collectionSize]="collectionSize"
        [(page)]="page"
        [pageSize]="pageSize"
        [maxSize]="10"
        [ellipses]="true"
        [rotate]="true"
      >
      </ngb-pagination>
    </div>
    <hr class="my-2" />
  </div>
  <router-outlet></router-outlet>
</div>
