<div class="jumbotron">
  <div class="form-group">
    <label for="content">Search for:</label>
    <input
      id="content"
      type="text"
      name="content"
      class="form-control"
      [(ngModel)]="searchTerm"
      (ngModelChange)="onSearch($event)"
    />
    <label [ngPlural]="collectionSize">
      <ng-template ngPluralCase="=0"> </ng-template>
      <ng-template ngPluralCase="=1">
        {{ collectionSize }} matching file found
      </ng-template>
      <ng-template ngPluralCase="other">
        {{ collectionSize }} matching files found
      </ng-template>
    </label>
  </div>

  <h3>Files</h3>

  <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col" sortable="document" (sort)="onSort($event)">
          Document
        </th>
        <th scope="col" sortable="content" (sort)="onSort($event)">Content</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let file of files">
        <td>
          <a
            routerLink="/browse/website/{{ file.website }}/document/{{
              file.documentId
            }}"
            >{{ file.documentTitle }}</a
          >
        </td>
        <td [innerHTML]="file.content"></td>
      </tr>
    </tbody>
  </table>

  <div class="d-flex justify-content-between p-2">
    <ngb-pagination
      (pageChange)="loadPage($event)"
      [collectionSize]="collectionSize"
      [(page)]="page"
      [pageSize]="pageSize"
      [maxSize]="10"
      [ellipses]="true"
    >
    </ngb-pagination>
  </div>
</div>
