<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Search app</title>
    {% load static %}
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
            integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
            crossorigin="anonymous"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
</head>
<body>
<div class="container">
    <nav class="nav navbar-expand-lg navbar-light bg-light mb-4 p-4">
        <a class="navbar-brand" href="#">Catalogue Manager</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
                aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <a class="nav-item nav-link {% if nav == 'websites' %}active{% endif %}"
                   href="{% url 'searchapp:websites' %}">Home</a>
                <a class="nav-item nav-link {% if nav == 'websites' %}active{% endif %}" href="{% url 'searchapp:websites' %}">Websites</a>
                <a class="nav-item nav-link {% if nav == 'films' %}active{% endif %}"
                   href="{% url 'searchapp:films' %}">Films</a>
                <a class="nav-item nav-link disabled" href="#">Disabled</a>
            </div>
        </div>
        <form class="logout-link" action="{% url 'searchapp:logout' %}" method="post">
            {% csrf_token %}
            <button class="btn btn-link" type="submit">Logout</button>
        </form>
    </nav>
    {% block content %}{% endblock %}
</div>
</body>
</html>