/* You can add global styles to this file, and also import other style files */
@import "https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css";
@import "./assets/styles/bootstrap-social.css";

span.highlight {
  background-color: yellow;
}

a {
  cursor: pointer;
}

app-document-list {
  width: 99%;
}
app-document-validate {
  width: 99%;
}

.p-chips-state.ui-chips > ul.ui-inputtext .ui-chips-token {
  background: none;
  padding: 0px;
  margin: 0px;
}

.rejected {
  background: red;
  padding: 0.2145em 0.429em;
}

.unvalidated {
  background: grey;
  padding: 0.2145em 0.429em;
}

.accepted {
  background: green;
  padding: 0.2145em 0.429em;
}
