<!-- nav -->
<nav class="navbar navbar-expand navbar-dark bg-dark" *ngIf="currentDjangoUser">
  <div class="navbar-nav mr-auto">
    <a class="navbar-brand" routerLink="/">Home</a>
  </div>
  <div class="navbar-nav">
    <a class="nav-item nav-link" routerLink="browse">Browse</a>
    <a class="nav-item nav-link" routerLink="search">Search</a>
    <a class="nav-item nav-link" routerLink="validator">Validator</a>
    <a class="nav-item nav-link" routerLink="dashboard">Dashboard</a>
    <a class="nav-item nav-link">{{ currentDjangoUser.username }}</a>
    <a class="nav-item nav-link" (click)="logout()">Logout</a>
  </div>
</nav>

<breadcrumb></breadcrumb>

<!-- main app container -->
<div class="jumbotron mt-0">
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-6 offset-sm-3">
        <alert></alert>
      </div>
    </div>
    <div class="row">
      <router-outlet></router-outlet>
    </div>
    <div class="row">
      <router-outlet name="secondary"></router-outlet>
    </div>
  </div>
</div>
