Django==3.0.8
celery==4.4.6
celery-slack==0.4.1
django-celery-beat==2.0.0
django-celery-results==1.2.1
django-cleanup==5.0.0
django-compat==1.0.15
django-cors-headers==3.4.0
django-extensions==3.0.2
django-minio-storage==0.3.7
django-crispy-forms==1.9.1
django-oauth-toolkit==1.3.2
django-rest-framework-social-oauth2==1.1.0
djangorestframework==3.11.0
django-health-check==3.12.1
flower==0.9.5
gunicorn==20.0.4
minio==5.0.10
pysolr==3.9.0
jsonlines==1.2.0
drf-yasg==1.17.1
PyYAML==5.3.1
tika==1.24
zipp==3.1.0
psycopg2-binary==2.8.5
psutil==5.7.0
