{% extends 'base.html' %}

{% block content %}

<h2>{{ document.title }}</h2>
<p>{{ document.date }}</p>
<p>Type: {{ document.type }}</p>
<p>Title prefix: {{ document.title_prefix }}</p>
<p>Acceptance state: {{ document.acceptance_state }}</p>
<p>From: <a href="{{ document.url }}">{{ document.url }}</a></p>
<h6>Files</h6>
<ul>
{% for attachment in document.attachment_set.all %}
    <li><a href="{{ attachment.file.url }}">{{ attachment.file }}</a></li>
{% endfor %}
</ul>
<h6>Summary</h6>
<div>
    <p>{{ document.solr_data.content.0 }}</p>
</div>
<div class="update-document my-2">
    <a href="{% url 'searchapp:update_document' document.id %}" class="btn btn-info" role="button">Update</a>
</div>
<div class="delete-document my-2">
    <a href="{% url 'searchapp:delete_document' document.id %}" class="btn btn-danger" role="button">Delete</a>
</div>
{% endblock %}