{% extends 'base.html' %}

{% block content %}

<h2>{{ document.title }}</h2>
<p>{{ document.date }}</p>
<p>Acceptance state: {{ document.acceptance_state }}</p>
<p><a href="{{ document.url }}">{{ document.url }}</a></p>
<ul>
{% for pdf in document.pdf_files %}
    <li>{{ pdf }}</li>
{% endfor %}
</ul>
<div>
    <p>{{ document.pdf_file }}</p>
</div>
<div>
    <p>{{ document.solr_data.content.0 }}</p>
</div>
<div class="update-document my-2">
    <a href="{% url 'searchapp:update_document' document.id %}" class="btn btn-info" role="button">Update</a>
</div>
<div class="delete-document my-2">
    <a href="{% url 'searchapp:delete_document' document.id %}" class="btn btn-danger" role="button">Delete</a>
</div>
{% endblock %}