{% extends 'base.html' %}

{% block content %}

<h2>{{ website.name }}</h2>
    <p>{{ website.content }}</p>
    <p><a href="{{ doc.url }}">{{ website.url }}</a></p>
    <div class="update-website my-2">
        <a href="{% url 'searchapp:update_website' website.id %}" class="btn btn-info" role="button">Update website</a>
    </div>
    <div class="delete-website my-2">
        <a href="{% url 'searchapp:delete_website' website.id %}" class="btn btn-danger" role="button">Delete website</a>
    </div>
    <h3>Documents:</h3>
    <div class="create-document my-2">
        <a href="{% url 'searchapp:create_document' website.id %}" class="btn btn-info" role="button">Add document</a>
    </div>
    <ul class="list-group list-group-flush">
    {% for doc in documents %}
        <li class="list-group-item">
            <h3><a href="{% url 'searchapp:document' pk=doc.id %}">{{ doc.title }}</a></h3>
            <p>{{ doc.date }}</p>
            <p>Acceptance state: {{ doc.acceptance_state }}</p>
            <p><a href="{{ doc.url }}">{{ doc.url }}</a></p>
            <div>
                <p>{{ doc.summary }}</p>
            </div>
        </li>
    {% endfor %}
    </ul>
{% endblock %}