.editable {    
    border-bottom: 1px dotted blue;
    text-decoration: none;
    cursor: pointer;
}
.name {
    margin-bottom: 2rem;
    position: relative;
}

.url {
    margin-bottom: 0.5rem;
    position: relative;
}

.content {
    margin-bottom: 2rem;
    position: relative;
}

.delete {
    margin-bottom: 2rem;
    position: relative;
}

.close {
    position: relative;
    top: 0;
}