<div class="form-group">
  <label for="FilmName">Search for:</label>
  <input id="FilmName" type="text" name="FilmName" class="form-control" [(ngModel)]="searchTerm"
    (ngModelChange)="onSearch($event)" />
  <label [ngPlural]="collectionSize">
    <ng-template ngPluralCase="=0">
    </ng-template>
    <ng-template ngPluralCase="=1">
      {{collectionSize}} matching film found
    </ng-template>
    <ng-template ngPluralCase="other">
      {{ collectionSize }} matching films found
    </ng-template>
  </label>
</div>

<h3>Films</h3>

<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col" sortable="name" (sort)="onSort($event)">Title</th>
      <th scope="col" sortable="directed_by" (sort)="onSort($event)">Directed by</th>
      <th scope="col" sortable="genre" (sort)="onSort($event)">Genre</th>
      <th scope="col" sortable="initial_release_date" (sort)="onSort($event)">Release date</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let film of films">
      <td [innerHTML]="film.name"></td>
      <td [innerHTML]="film.directed_by"></td>
      <td [innerHTML]="film.genre"></td>
      <td [innerHTML]="film.initial_release_date | date"></td>
    </tr>
  </tbody>
</table>

<div class="d-flex justify-content-between p-2">
  <ngb-pagination [collectionSize]="collectionSize" [(page)]="page" [pageSize]="pageSize" [maxSize]=10 [ellipses]=true>
  </ngb-pagination>

  <select class="custom-select" style="width: auto" [(ngModel)]="pageSize">
    <option [ngValue]="10">10 items per page</option>
    <option [ngValue]="50">50 items per page</option>
    <option [ngValue]="100">100 items per page</option>
  </select>
</div>
